<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password - Apple TV</title>
    <link rel="stylesheet" href="/static/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="update-password-container">
    <div class="update-password-form form-container">
        <h2>Update Password</h2>
        <form action="/auth/updatePassword" method="post">
            <div class="form-group">
                <label for="newPassword"><i class="fas fa-lock"></i> New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword"><i class="fas fa-lock"></i> Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <input type="hidden" name="userId" th:value="${userId}">
            <button type="submit">Update Password</button>
            <div class="extra-links">
                <a href="/auth/login" class="button-style">Back to Login</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
