<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movies - Cinematica Admin</title>
    <link rel="stylesheet" href="/static/css/adminPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="admin-container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2>Cinematica Admin</h2>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="/admin/dashboard"><i class="fas fa-film"></i> Dashboard</a></li>
                <li><a href="/admin/createEvent"><i class="fas fa-film"></i> Create Event</a></li>
                <li><a href="/admin/manageUsers"><i class="fas fa-users"></i> Manage Users</a></li>
                <li><a href="/admin/showMovies"><i class="fas fa-eye"></i> Show Movies</a></li>
                <li><a href="/home/"><i class="fas fa-sign-out-alt"></i> Back</a></li>
            </ul>
        </nav>
    </aside>
    <main class="admin-content">
        <section class="admin-section">
            <h2>Add Movies</h2>
            <form class="admin-form" action="/admin/addMovie" method="post" enctype="multipart/form-data">
                <label for="movie-title">Movie Title</label>
                <input type="text" id="movie-title" name="title" required>

                <label for="movie-description">Description</label>
                <textarea id="movie-description" name="description" required></textarea>

                <label for="movie-category">Category</label>
                <input type="text" id="movie-category" name="category" required>

                <label for="language">Language</label>
                <input type="text" id="language" name="language" required>

                <label for="rating">Rating</label>
                <input type="number" id="rating" name="rating" required>

                <label for="trailer">Trailer Url</label>
                <input type="text" id="trailer" name="trailerUrl" required>

                <label for="movie-release-date">Release Date</label>
                <input type="date" id="movie-release-date" name="releaseDate" required>

                <label for="movie-image">Image</label>
                <input type="file" id="movie-image" name="file" required>

                <button type="submit">Add Movie</button>
            </form>
        </section>
    </main>
</div>
</body>
</html>
